#img-articulo{
    margin-top: 15px;
}

#miniaturas{
    margin-top: 10px;
    text-align: center;
}

#miniaturas li{
    display: inline;
}

#compra h4{
    color: #E1E1E1;
    text-align: center;
    padding: 10px;
}
/*------ colores -------*/
#colors {
  border: 1px solid #4D4D4D;
} 

#colors >p{
  padding: 10px 0 5px 10px;
  color: #666666;
  font-size: 13px;
  font-size: 1.3rem;
}
#colors ul{
  padding: 0 10px 0px 10px;
  list-style: none outside none;
  overflow: auto;
}
#colors ul li{
  float: left;
  margin-right: 4px;  
}
#colors label{
  border: 1px solid #fff;
  display: block;
  margin: 3px;
  overflow: hidden;
  padding: 0px;
  width: 37px;
  height: 37px;
}
#colors label:hover{
  outline: 2px solid #fff;
  cursor: pointer;
}

.img-color {
    padding: 1px;
    width: 35px;
    height: 35px;
}
.selected-color{
    outline: 2px solid #fff;
}

/*-----talles-------*/
#talles {
  overflow: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  border: 1px solid #4D4D4D;
}
#talles >p{
  padding: 10px 0 5px 10px;
  color: #666666;
  font-size: 13px;
}
#talles ul{
  padding: 0 10px 10px 10px;
  list-style: none outside none;
  overflow: auto;
}
#talles ul li{
  float: left;
  margin-right: 4px;
}

#talles span{
  width: 30px;
  height: 25px;
}

.activas{
  border: 2px solid #444444;
  display: block;
  margin: 2px;
  overflow: hidden;
  padding: 1px;
}
.inactivas{
  border: 1px solid #999999;
  display: block;
  margin: 2px;
  overflow: hidden;
  padding: 1px;
}
.talle-inactivos{
    display: none;
}

.picker {
    float: left;
    padding: 2.5px 0;
}
.talle {
    background-color: #666666;
    color: #FFFFFF;
    letter-spacing: -1px;
    text-align: center;
}
.sin-talle {
    background-color: #E1E1E1;
    color: #FFFFFF;
    letter-spacing: -1px;
    text-align: center;
}
.selected .talle {
    background-color: #0637B3;
    color: #FFFFFF;
}

/* Small devices (tablets, 768px and up) */

@media (min-width: 768px) { 
    
    #img-articulo{
        margin-top: 0px;
    }    
    
    #compra h4{
        color: #666666;
        text-align: left;
    }    
    
    #lupita{
        margin:0 auto;
        text-align: center;
    }

    #lupita li{
        background-image: url(../app_images/lupa.gif);
        background-repeat: no-repeat;    
        padding: 0 20px;
        font-size: x-small;
        color: #666666;
        display: inline;
    }   
    
    #lupita li:hover{
        cursor: pointer;
    }   
    
    #colors {
      border: none;
    } 
    
    #colors label{
      border: 1px solid #000000;
    }  
    
    #colors label:hover{
      outline: 2px solid #444444;
      cursor: pointer;
    }    
    
    .selected-color{
        outline: 2px solid #444444;
    } 
    
    #talles {
      padding: 0px;
      border: none;
    }    
    
    .activas:hover{
      outline: 2px solid #444444;
    }    
}