#lupita{
    margin:0 auto;
    text-align: center;
}

#lupita li{
    background-image: url(../app_images/lupa.gif);
    background-repeat: no-repeat;    
    padding: 0 20px;
    font-size: x-small;
    color: #666666;
    display: inline;
}

#miniaturas{
    margin-top: 10px;
    text-align: center;
}
#miniaturas li{
    display: inline;
}
#compra h4{
    padding: 10px;
}
/*------ colores -------*/
#colors >p{
  padding: 10px 0 5px 10px;
  color: #666666;
  font-size: 13px;
}
#colors ul{
  padding: 0 10px 0px 10px;
  list-style: none outside none;
  overflow: auto;
}
#colors ul li{
  float: left;
  margin-right: 4px;  
}
#colors label{
  border: 1px solid #000000;
  display: block;
  margin: 3px;
  overflow: hidden;
  padding: 0px;
  width: 37px;
  height: 37px;
}
#colors label:hover{
  outline: 2px solid #444444;
  cursor: pointer;
}

.img-color {
    padding: 1px;
    width: 35px;
    height: 35px;
}
.selected-color{
    outline: 2px solid #444444;
}

.selected-color{
    outline: 2px solid #444444;
}

/*-----talles-------*/
#talles div{
  overflow: auto;
  margin-top: 5px;
  padding: 10px;;
}
#talles >p{
  padding: 10px 0 5px 10px;
  color: #666666;
  font-size: 13px;
}
#talles ul{
  padding: 0 10px 10px 10px;
  list-style: none outside none;
  overflow: auto;
}
#talles ul li{
  float: left;
  margin-right: 4px;
}

#talles span{
  width: 30px;
  height: 25px;
}

.activas{
  border: 1px solid #000000;
  display: block;
  margin: 2px;
  overflow: hidden;
  padding: 1px;
}
.inactivas{
  border: 1px solid #999999;
  display: block;
  margin: 2px;
  overflow: hidden;
  padding: 1px;
}
.talle-inactivos{
    display: none;
}
.activas:hover{
  outline: 2px solid #444444;
  cursor: pointer;
}
.picker {
    display: block;
    float: left;
    height: 20px;
    margin: 0;
    overflow: hidden;
    padding: 2.5px 0;
    position: relative;
    text-align: center;
    width: 30px;
}
.talle {
    background-color: #666666;
    color: #FFFFFF;
    letter-spacing: -1px;
    text-align: center;
}
.sin-talle {
    background-color: #E1E1E1;
    color: #FFFFFF;
    letter-spacing: -1px;
    text-align: center;
}
.selected .talle {
    background-color: #0637B3;
    color: #FFFFFF;
}

.zoom {
    display:inline-block;
    position: relative;
}

/* magnifying glass icon */
.zoom:after {
    content:'';
    display:block; 
    width:33px; 
    height:33px; 
    position:absolute; 
    top:0;
    right:0;
    background:url(icon.png);
}

.zoom img {
    display: block;
}

.zoom img::selection { 
    background-color: transparent; 
}