*{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}
@font-face {
font-family: Neuropol X Rg;
src: url('../app_fuentes/neuropol_x_rg.ttf') ;
}
/* Columnas
-------------------------------------------------------------- */
.left-column-1 {width: 70px; float: left; margin-left: 10px; margin-top: 10px; overflow: hidden;}
.left-column-2 {width: 150px; float: left; margin-left: 10px; margin-top: 10px; overflow: hidden;}
.left-column-3 {width: 230px; float: left; margin-left: 10px; margin-top: 10px; overflow: hidden;}
.left-column-4 {width: 310px; float: left; margin-left: 10px; margin-top: 10px; overflow: hidden;}
.left-column-5 {width: 390px; float: left; margin-left: 10px; margin-top: 10px; overflow: hidden;}
.left-column-6 {width: 470px; float: left; margin-left: 10px; margin-top: 10px; overflow: hidden;}
.left-column-7 {width: 550px; float: left; margin-left: 10px; margin-top: 10px; overflow: hidden;}
.left-column-8 {width: 630px; float: left; margin-left: 10px; margin-top: 10px; overflow: hidden;}
.left-column-9 {width: 710px; float: left; margin-left: 10px; margin-top: 10px; overflow: hidden;}
.left-column-10 {width: 790px; float: left; margin-left: 10px; margin-top: 10px; overflow: hidden;}
.left-column-11 {width: 870px; float: left; margin-left: 10px; margin-top: 10px; overflow: hidden;}
.left-column-12 {width: 950px; float: left; margin-left: 10px; margin-top: 10px; overflow: hidden;}

.right-column-1 {width: 70px; float: right; margin-right: 10px; margin-top: 10px;}
.right-column-2 {width: 150px; float: right; margin-right: 10px; margin-top: 10px;}
.right-column-3 {width: 230px; float: right; margin-right: 10px; margin-top: 10px;}
.right-column-4 {width: 300px; float: right; margin-right: 10px; margin-top: 10px;}
.right-column-5 {width: 390px; float: right; margin-right: 10px; margin-top: 10px;}
.right-column-6 {width: 470px; float: right; margin-right: 10px; margin-top: 10px;}
.right-column-7 {width: 550px; float: right; margin-right: 10px; margin-top: 10px;}
.right-column-8 {width: 630px; float: right; margin-right: 10px; margin-top: 10px;}
.right-column-9 {width: 710px; float: right; margin-right: 10px; margin-top: 10px;}
.right-column-10 {width: 790px; float: right; margin-right: 10px; margin-top: 10px;}
.right-column-11 {width: 870px; float: right; margin-right: 10px; margin-top: 10px;}
.right-column-12 {width: 950px; float: right; margin-right: 10px; margin-top: 10px;}

#wrap{
font-family: Arial;
background-image: url(../app_images/background_wrap.jpg);
background-repeat: no-repeat;
background-position: right bottom;
}

.container {
  width: 970px;
  margin: 0 auto;
}
.clear { clear:both; }

#jquery-loader.blue-with-image-2{
    border:none;
    padding-top:35px;
    background-color: transparent;
    text-align: center;
    background-image: url(../app_images/ajax-loader.gif);
    background-position: center center;
    background-repeat: no-repeat;

}
/*----------------------------------- layout-----------------------------------*/

body{
  background-image: url(../app_images/background.jpg);
  background-repeat: no-repeat;
  background-color: #000000;
}

#dvHeader{
  background-image: url(../app_images/header.jpg);
  background-repeat: repeat-x;
  margin-top: 10px;
  height: 140px;
  width: 970px;
  color: #FFFFFF;
}
#dvHeader h2{
  padding: 45px 0 0 100px;
  height: 50px;
  font-family: Neuropol X Rg;
  font-size: 60px;
  letter-spacing: 20px;
}
#dvHeader P{
  padding: 10px 0 0 100px;
  font-size: 15px;
}
#dvMenu{
  background-image: url(../app_images/menu.jpg);
  background-repeat: repeat-x;
  padding-top: 1px;
  height: 40px;
  width: 970px;
  color: #999999;
}
#dvMenu li{
  display: inline;
  float: right;
  padding-right: 20px;
  padding-top: 10px;
  font-size: 13px;
}
#dvMenu li:hover{
  cursor: pointer;
  color: #ffffff;
}
.active{
  color: #ffffff;
  font-weight: bold;
}

#content{
  background-color: #FFFFFF;
  margin-top: 20px;
  padding-bottom: 10px;
  overflow: auto;
  }
#footer{
  margin: 10px 0 0px;
  padding-top: 30px;
  background-image: url(../app_images/footer.jpg);
  background-repeat: repeat-x;
  height: 180px;
}

#footer p{
    padding: 15px 0 0 30px;
    color: #FFFFFF;
    display: block;
    font-family: Verdana;
    font-size: 14px;
}

#copyright p{
  margin-top: 50px;
  padding-bottom: 15px;
  font-family: Arial;
  font-size: small;
  color: #ffffff;
  text-align: center;
}

/*------------------------------------index---------------------------------------*/

/*-----------------------------------catalogo-------------------------------*/

                                    /*-----menu---*/
#catalogo {
outline: 1px solid #6D006D;
}

#catalogo ul{
margin : 0px 10px 0px 0px;
padding: 20px 0px 0px 10px;
list-style: none;
}

#catalogo li{
color: #6D006D;
font-size: 13px;
padding-left: 14px;
background: transparent url(../app_images/bullet.gif) 0 4px no-repeat;
margin-bottom: 10px;
margin-left:10px;
}

#catalogo li:hover {
cursor: pointer;
}
                                   /*-----articulos---*/
#articulos {
outline: 1px solid #6D006D;
}
.rows{
  overflow: auto;
}

.calle-1{width: 185px; float: left; overflow: auto;}
.calle-x{width: 185px; float: left; margin-left: 10px; overflow: auto;}
#titulo{
  padding: 15px 0 20px 20px;
  text-align: center;
}

.descripcion{
  text-align: center;
  font-family: Verdana,Arial,Sans-serif;
  font-size: 10px;
  color: #666666;
}
.precio{
  padding-bottom: 10px;
  text-align: center;
  font-family: Verdana,Arial,Sans-serif;
  font-size: 10px;
  color: #000000;
}
.verMas{
  text-align: center;
  font-family: Verdana,Arial,Sans-serif;
  font-size: 10px;
  color: #FF6600;
}
.verMas:hover{
  cursor: pointer;
}
.pull {margin-left: 0px; outline: none;}

/*-----------------------------------articulo-------------------------------*/
.articulo{
    cursor: pointer;
}
#foto{
  float: left;
  margin-left: 80px;
  margin-top: 30px;
}
#lupita{
 float:left;
 left:50%;
 list-style-type:none;
 margin:0 auto;
 position:relative;
}
#lupita >li{
 background-image: url(../app_images/lupa.gif);
 background-repeat: no-repeat;
}
#lupita li{
 float:left;
 position:relative;
 padding: 0 20px;
 right:50%;
 font-size: x-small;
 color: #666666;
}
#ampliar {
 cursor: pointer;
}
#compra{
  float: left;
  margin-top: 50px;
  margin-left: 5px;
}
#compra h4{
  margin-left: 20px;
  color: #777777;
}
#color-talle{
  margin-top: 10px;
  margin-left: 20px;
  height: 200px;
  width: 270px;
  outline: 1px solid #888888;
}
/*------ colores -------*/
#colors >p{
  padding: 10px 0 5px 10px;
  color: #666666;
  font-size: 13px;
}
#colors ul{
  padding: 0 10px 0px 10px;
  list-style: none outside none;
  overflow: auto;
}
#colors ul li{
  float: left;
  margin-right: 4px;
}
#colors label{
  border: 1px solid #000000;
  display: block;
  margin: 3px;
  overflow: hidden;
  padding: 1px;
  width: 25px;
  height: 25px;
}
#colors label:hover{
  outline: 2px solid #444444;
  cursor: pointer;
}
#colors .color {
    display: block;
    float: left;
    height: 20px;
    margin: 0;
    overflow: hidden;
    padding: 2.5px 0;
    position: relative;
    text-align: center;
    width: 25px;
}
.selected-color{
    outline: 2px solid #444444;
}
/*-----talles-------*/
#talles div{
  overflow: auto;
  margin-top: 5px;
  padding: 10px;;
}
#talles >p{
  padding: 10px 0 5px 10px;
  color: #666666;
  font-size: 13px;
}
#talles ul{
  padding: 0 10px 10px 10px;
  list-style: none outside none;
  overflow: auto;
}
#talles ul li{
  float: left;
  margin-right: 4px;
}
.activas{
  border: 1px solid #000000;
  display: block;
  margin: 2px;
  overflow: hidden;
  padding: 1px;
}
.inactivas{
  border: 1px solid #999999;
  display: block;
  margin: 2px;
  overflow: hidden;
  padding: 1px;
}
.talle-inactivos{
    display: none;
}
.activas:hover{
  outline: 2px solid #444444;
  cursor: pointer;
}
.picker {
    display: block;
    float: left;
    height: 20px;
    margin: 0;
    overflow: hidden;
    padding: 2.5px 0;
    position: relative;
    text-align: center;
    width: 30px;
}
.talle {
    background-color: #666666;
    color: #FFFFFF;
    letter-spacing: -1px;
    text-align: center;
}
.sin-talle {
    background-color: #E1E1E1;
    color: #FFFFFF;
    letter-spacing: -1px;
    text-align: center;
}
.selected .talle {
    background-color: #0637B3;
    color: #FFFFFF;
}
#carrito{
  margin-top: 20px;
  margin-left: 20px;
  height: 100px;
  width: 270px;
  outline: 1px solid #888888;
}
#carrito >div{
  float: left;
  width: 120px;
  margin-left: 10px;
  color: #666666;
  font-size: 12px;
}
#carrito div + div{
  width: 105px;
  float: left;
  margin-top: 5px;
  margin-left: 20px;
  margin-top: 3px;
  color: #666666;
  font-size: 12px;
}
#carrito div + div >p{
  margin-top: 5px;
  color: #444444;
  font-size: 20px;
}
#detalle-compra{
  margin-top: 5px;
}

#detalle-compra p{
  padding-top: 5px;
}
.agregar{
  margin-top: 3px;
  background-image: url(../app_images/btn_agregar_carrito.jpg);
  background-repeat: no-repeat;
  height: 25px;
  display: block;
}
.agregar p{
  padding-top: 4px;
  color: #ffffff;
  font-size: 11px;
  text-align: center;
  cursor: pointer;
}
#muestra-colores{
  margin-left: 140px;
  margin-top: 15px;
}
#muestra-colores img{
  float: left;
  display: block;
  margin-left: 10px;
  outline: 1px solid #888888;
  cursor: pointer;
}
#descuentos{
 margin-top: 30px;
}
#descuentos p{
  text-align: center;
}
#descuentos img + img{
  margin-left: 30px;
}
#cupon{
 margin-top: 10px;
}
#dineroMail p{
  text-align: center;
}

/*----------------------------------------contact------------------------------------------*/
#popupmail{
  display: none;
  padding-top: 0px;
  background-color: #1E1E1E;
  border: 5px solid #444444;
  margin-left: 285px;
  position: fixed;
  width: 400px;
  z-index: 200;
}

#blockmail {
  background-color: black;
  display: none;
  height: 100%;
  left: 0;
  opacity: 0.4;
  overflow: auto;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 199;
}

#dvContacto {
    width: 450px;
    color: #993998;
    padding-bottom: 10px;
    padding-left: 20px;
}
#dvContacto h1{
  margin-bottom: 5px;
  padding-bottom: 5px;
  color: #285286;
  font-size: 18px;
  border-bottom: 1px solid black;
}
#dvContacto p{
  font-size: 12px;
  font-weight: bold;
  color: #285286;
}
.customer{

}

.textbox{
  width: 99%;
  background: #EEEEEE;
  border: 1px solid #DDDDDD;
}
#dvContacto textarea{
  width: 99%;
  height: 200px;
  background: #EEEEEE;
  border: 1px solid #DDDDDD;
}
#enviar{
  background-image:url(../app_images/submit.jpg);
  background-repeat: no-repeat;
  margin-top: 40px;
  margin-left: 10px;
  padding-right: 3px;
  padding-bottom: 10px;
  border: none;
  color: #fff;
  width: 117px;
  height: 32px;
  cursor: pointer;
}
#requerido{
  display: inline;
  float: right;
  margin-top: 55px;
  margin-right: 5px;
}
font{
  color: #BA0F0F;
}

#dvMap{
  width: 450px;
  background: #fff;
  padding-bottom: 10px;
}
#dvMap h1{
  margin-bottom: 5px;
  padding-bottom: 5px;
  color: #285286;
  font-size: 18px;
  border-bottom: 1px solid black;
}
#addresses{
  margin-left: 20px;
}
#addresses hr{
  margin-left: 10px;
  width: 930px;
  border: 1px solid #000000;
}
#addresses h2{
  margin-bottom: 5px;
  padding-bottom: 5px;
  color: #0C3E9F;
  font-size: 17px;
}
#addresses .information{
  float: left;
  margin-top: 10px;
  margin-left: 15px;
  margin-right: 15px;
}
#addresses .information p{
  color: #333333;
  font-size: 14px;
}

/*---------------------------login--------------------------*/
#block {
    background-color: black;
    display: none;
    height: 100%;
    left: 0;
    opacity: 0.4;
    overflow: auto;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 199;
}
#popupbox{
    display: none;
    top: 10px;
    left: 30px;
    background-color: #ffffff;
    border: 5px solid #561154;
    position: fixed;
    
    z-index: 200;
    overflow: auto;
}
#loader{
    background-image: url(../app_images/loading.gif);
    background-position: center center;
    background-repeat: no-repeat;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -60px;
    margin-left: -50px;
    height: 120px;
    width: 100px;
    z-index: 2;
}
#frmAutenticar > div{
  margin-left: 26px;
  font-size: 12px;
  color: #fff;
}
#frmAutenticar p{
  height: 10px;
}

/*----------------------------------------------------------------*/
