.descripcion-articulo{
    color: #fff;
    font-size: 8px;
    font-size: 0.8rem;
    text-align: center;
}

#titulo{
    color: #fff;
    text-align: center;
}

/* *************************************
* ************* Menu items *************
* ************************************ */

.div-menu-items-xs {
  margin: 1px 0px; 
  overflow: hidden
}

.div-menu-items-xs p {
  color: #fff; 
  margin-top: -26px; 
  margin-left: 50px;
  font-size: 0.9rem;
}

.div-menu-items-xs:hover {
  margin: 1px 0px; 
}

#mobile-main-menu{
    display: none;
}

/* *************************************
* *********** Media queries ************
* ************************************ */

/* Small devices (tablets, 768px and up) */

@media (min-width: 768px) { 
    
    #fila-articulos{
        margin-top: 10px;
        margin-left: 0px;
        padding: 10px;
    }
    
    #columna-articulos{
        padding: 0px;
    }
    
    #div-items-articulos{    
        margin-top: 10px;
        padding: 10px;
        background-color: #ffffff;                
    }    
 
    #div-items{    
        margin-top: 20px;
        padding-top: 40px;
        background: transparent url("../app_images/background_items_articulos.jpg");
        background-repeat: no-repeat;
    }    
    
    #div-items li{  
        padding-left: 15px;
        color: #666666;
        font-size: 12px;
        font-size: 1.2rem;
        background: transparent url("../app_images/bullet.gif");
        background-repeat: no-repeat;

    }    
    
    #div-items li:hover{  
        cursor: pointer;
        color: #006CD8;   
    }            

    #titulo{
        color: #666666;
    }     
    
    .descripcion-articulo{
        color: #222;
    }    
}