.descripcion-articulo{
    color: #fff;
    font-size: 8px;
    font-size: 0.8rem;
    text-align: center;
}


/* *************************************
* *********** Media queries ************
* ************************************ */

/* Small devices (tablets, 768px and up) */

@media (min-width: 768px) { 
    
    #fila-articulos{
        margin-top: 10px;
        margin-left: 0px;
        padding: 10px;
        background-color: #ffffff;
    }
    
    #columna-articulos{
        padding: 0px;
    }
    
    #div-items{    
        margin-top: 10px;
        padding: 10px;
        background-color: #ffffff;
    }    
 
    #div-items-sub{    
        padding: 10px;
        border: 1px solid #999999;
    }    
    
    #div-items-sub li{  
        padding-left: 15px;
        color: #8E0673;
        font-size: 12px;
        font-size: 1.2rem;
        background: transparent url("../app_images/bullet.gif");
        background-repeat: no-repeat;
    }    
    
    #div-items-sub li:hover{  
        cursor: pointer;
        color: #006CD8;   
    }    
    
    #div-articulos{
        padding: 10px;
        background-color: #ffffff;
        border: 1px solid #999999;
    }
     
    .descripcion-articulo{
        color: #222;
    }    
}