*{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}
@font-face {
font-family: Neuropol X Rg;
src: url('../app_fuentes/neuropol_x_rg.ttf') ;
}
header{background:#b2b2b2;overflow:hidden;text-align:center;}
footer{background:#b2b2b2;overflow:hidden;text-align:center;line-height:25px}
h1{
  margin:0;
  font-family: Neuropol X Rg;
  font-size: 60px;
  letter-spacing: 20px;  
  color: #ffffff;
}
header{
    line-height:75px;
    justify-content: center;
}
header h1{
    height: 50px;
    padding: 45px 0 0;
}
#divHeader{
    margin: 10px auto 0;
    width: 80%;
    background-image: url(../app_images/header.jpg);
    color: #ffffff;
}
#divHeader p {
    font-size: 15px;
}
#wrapper{
    display:-webkit-box;
    display:-moz-box;
    display:-ms-flexbox;
    display:-webkit-flex;
    display:flex;
    -moz-flex-direction:row;
    flex-direction:row;
    margin: 0 auto;
    width: 80%;
}
#wrapper aside,#wrapper section{display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;flex-grow:1;}
#wrapper aside article,#wrapper section article,#wrapper aside div,#wrapper section div{color:#fdfdfd;background:#666;flex-grow:1;margin:10px;padding:5px;}
#wrapper aside article h2,#wrapper section article h2,#wrapper aside div h2,#wrapper section div h2{margin:0}
#wrapper aside article p,#wrapper section article p,#wrapper aside div p,#wrapper section div p{margin:5px 0}
#wrapper aside{-moz-flex-direction:column;flex-direction:column;background:#ccc;width:25%}
#wrapper section{
    -moz-flex-direction:row;
    flex-direction:row;
    width:75%;
    border: 1px solid;
}
#dvMenu{
  margin: 0 auto;
  background-image: url(../app_images/menu.jpg);
  background-repeat: repeat-x;
  padding-top: 1px;
  height: 40px;
  width: 80%;
  color: #999999;
}
#dvMenu li {
    display: inline;
    float: right;
    font-size: 13px;
    padding-right: 20px;
    padding-top: 10px;
}
@media screen and (max-width: 1000px) and (min-width: 640px){
    #wrapper section{-moz-flex-direction:column;flex-direction:column}
}
@media screen and (max-width: 640px){
    #wrapper{flex-direction:column;}
    #wrapper aside{-webkit-box-ordinal-group:2;-moz-box-ordinal-group:2;-ms-flex-order:2;-webkit-order:2;-webkit-box-ordinal-group:2;-moz-box-ordinal-group:2;-ms-flex-order:2;-webkit-order:2;order:2;width:auto}
    #wrapper section{-moz-flex-direction:column;flex-direction:column;-webkit-box-ordinal-group:1;-moz-box-ordinal-group:1;-ms-flex-order:1;-webkit-order:1;-webkit-box-ordinal-group:1;-moz-box-ordinal-group:1;-ms-flex-order:1;-webkit-order:1;order:1;width:auto}
    h1{
      margin:0;
      font-family: Neuropol X Rg;
      font-size: 30px;
      letter-spacing: 10px;    
    }
    #divHeader{
        width: 100%;
    }  
    #dvMenu{
      width: 100%;
    }    
}
#catalogo ul {
    list-style: outside none none;
    margin: 0 10px 0 0;
    padding: 20px 0 0 10px;
}
#catalogo li {
    background: transparent url("../app_images/bullet.gif") no-repeat scroll 0 4px;
    color: #6d006d;
    font-size: 13px;
    margin-bottom: 10px;
    margin-left: 10px;
    padding-left: 14px;
    display: list-item;
}