@font-face {
font-family: Neuropol X Rg;
src: url('../app_fuentes/neuropol_x_rg.ttf') ;
}

body {
  margin-top: 10px;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #000000;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

ul li {
  margin-bottom: 5px;
}

/* *************************************
* *************** Header ***************
* ************************************ */
#main-header {
  margin: 0;
  top: 0;
  width: 100%;  
  z-index: 99;  
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#11000000, endColorstr=#11000000)";

 /* -moz-box-shadow: 0 1px 5px #999;
  -webkit-box-shadow: 0 1px 5px #999;
  box-shadow: 0 1px 5px #999;*/
}

#divHeader {
  padding-top: 10px;
  background: transparent url("../app_images/header.jpg");
  margin-bottom: 5px;
  height: 80px;
}

#main-logo {
  width: 100%;
  padding: 15px 0 0 20px;
  margin: 0;
  font-family: Neuropol X Rg; 
  text-align: center;
  letter-spacing: 15px;
  font-size: 20px;
  font-size: 2rem;
  font-weight: 400;
  color: #fff;
}

#main-logo > span {
  display: block;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #DFFFBF;
  font-size: 12px;
  font-size: 1.2rem;
  letter-spacing: 0px;
}

#mobile-main-menu li {
  margin: 0px 0px 1px 0px;
  padding: 6px 0 0 10px;
  background-image: url(../app_images/menu_xs.jpg);
  background-repeat: repeat-x;
  height: 30px;
  color: #ffffff;
  font-size: 12px;
  font-size: 1.2rem;
}

#main-picture {
  margin-top: 5px;
  padding: 5px;
  background-color: #ffffff;
}

/* *************************************
* *************** Footer ***************
* ************************************ */

#direccion {
  margin-top: 20px;
}

#direccion p {
  margin-bottom: 5px;
  font-size: 11px;
  font-size: 1.1rem;
  text-align: center;
  color: #ffffff;
}

#direccion .copyright {
  margin-top: 10px;
  color: #777;
  font-size: 9px;
  font-size: 0.9rem;  
}

/* *************************************
* *********** Media queries ************
* ************************************ */

/* Small devices (tablets, 768px and up) */

@media (min-width: 768px) { 

  #divHeader {
    height: 140px
  }

  #main-logo {
  text-align: left;
  letter-spacing: 20px;
  font-size: 60px;
  font-size: 6rem;
  font-weight: 200;
  }

  #main-logo > a {  
    font-size: 20px;
    font-size: 2rem;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
  }

  #main-logo > a > span {
    display: block;
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #DFFFBF;
    font-size: 12px;
    font-size: 1.2rem;
    letter-spacing: 0px;
  }
}