@font-face {
font-family: Neuropol X Rg;
src: url('../app_fuentes/neuropol_x_rg.ttf');
}
@font-face {
font-family: Pragmatica ExtraBold;
src: url('../app_fuentes/Pragmatica-ExtraBold_36320.ttf');
}
body {
  margin-top: 10px;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #000000;
  background-repeat: no-repeat;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

ul li {
  margin-bottom: 5px;
}

/* *************************************
* *************** Loader ***************
* ************************************ */
#fondo-loader {
    display: none;
    width:100%;
    height:100%;
    overflow: auto;
    position: fixed;
    background-color: black;
    opacity:0.4;
    filter:alpha(opacity=40); /* For IE8 and earlier */
    top:0;
    left:0;
    z-index: 599;
}
#modal-cargador {
    display: none;
    padding-top: 10px;
    top: 100px;
    left: 50%;
    margin-left: -100px;
    position: fixed;
    z-index: 600;

}

.modal-chica {
    width: 200px;
}

#modal-cargador-content {
   // position: relative;
    background-color: #FFF;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    outline: 0px none;
    box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.5);
}  

#modal-cargador-header {
    min-height: 16.4286px;
    padding: 15px;
    border-bottom: 1px solid #E5E5E5;
}

#modal-cargador-title {
    margin: 0px;
    line-height: 1.42857;
}
#modal-cargador-body p{
    text-align: center;
}

/* *************************************
* *************** Header ***************
* ************************************ */
#main-header {
  margin: 0;
  top: 0;
  width: 100%;  
  z-index: 99;  
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#11000000, endColorstr=#11000000)";

 /* -moz-box-shadow: 0 1px 5px #999;
  -webkit-box-shadow: 0 1px 5px #999;
  box-shadow: 0 1px 5px #999;*/
}

#div-header {
  padding-top: 10px;
  background: transparent url("../app_images/header.jpg");
  margin-bottom: 5px;
  height: 80px;

  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='[../app_images/header.jpg]', sizingMethod='scale');
-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='[../app_images/header.jpg]', sizingMethod='scale')";
}

#div-header-xs{
    margin-bottom: 10px;
}

.main-logo {
  color: #ffffff; 
  margin-top: -70px; 
  padding-top: 5px;
  font-family: Neuropol X Rg; 
  text-align: center;
  letter-spacing: 12px;
  font-size: 27px;
  font-size: 2.7rem;
  font-weight: 400;
}

.main-logo > span {
  display: block;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #DFFFBF;
  font-size: 12px;
  font-size: 1.2rem;
  letter-spacing: 0px;
}

.div-menu-xs {
  margin: 1px 0px; 
  overflow: hidden
}

.div-menu-xs a{
  color: #ffffff;
}

.div-menu-xs:hover {
    cursor: pointer;
}

.div-menu-xs p {
  color: #fff; 
  margin-top: -30px; 
  margin-left: 15px;
  font-size: 1.1rem;
}

#main-picture {
  margin-top: 5px;
  padding: 5px;
  background-color: #ffffff;
}

.div-menu-items-xs {
  margin: 1px 0px; 
  overflow: hidden
}

.div-menu-items-xs p {
  color: #fff; 
  margin-top: -26px; 
  margin-left: 50px;
  font-size: 0.9rem;
}

.div-menu-items-xs a {
  color: #fff; 
  margin-top: -26px; 
  margin-left: 50px;
  font-size: 0.9rem;
}

/* *************************************
* *************** Contacto *************
* ************************************ */
#popupmail {
  display: none;
  top: 200px;
  left: 50%;
  margin-left: -150px;
  padding-top: 0px;
  background-color: #1E1E1E;
  border: 5px solid #444444;
  position: fixed;
  width: 300px;
  z-index: 200;
}
#dialogo {
    position: fixed;
    top: 100px;
    left: 50%;
    margin-left: -220px;    
    width: 440px;
    border: 1px solid #AAA;
    background-color: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;	
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    z-index: 601;
}

#dialogo-titulo {
    margin: 6px;
    padding: 0px 5px 5px 10px;
    height: 30px;
    border: 1px solid #AAA;
    background-color: #CCC;
    border-radius: 4px;
}

#dialogo-titulo p {
    display: inline;
    font-size: 20px;
}

#cerrar-dialogo {
    margin-top: 4px;
    display: inline;
    float: right;
    width: 20px;
    height: 20px;
    background: transparent url("../app_images/cerrar.gif");
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;	
}

#cerrar-dialogo:hover {
    cursor: pointer;
    outline: 1px solid #939393;
}

#dialogo-contenido {
    margin: 6px;
    vertical-align:middle;
    border: 1px solid #AAA;
}

#frmContacto {
    padding: 15px 15px 5px 15px;
}

#frmContacto p {
    display: inline;
}

#frmContacto input {
    display: inline;
    width: 250px;
}

#frmContacto textarea {
    width: 320px;
    height: 150px;
}
/* *************************************
* ********** Cupon descuento ***********
* ************************************ */

#div-cupones-body > p {
    margin: 10px;
    font-size: 25px;
    font-weight: bold;
    color: #800965;
}

#numero{
    height: 130px;
    font-family: Pragmatica ExtraBold;
    font-size: 100px;
    color: #AB0B89;
}

#porcentaje{
    font-family: Pragmatica ExtraBold;
    font-size: 80px;
    color: #AB0B89;
    height: 80px;
}

#off{
    font-family: Pragmatica ExtraBold;
    font-size: 40px;
    color: #AB0B89;
}

#off > p{
    margin-bottom: 0px;
    height: 45px;
}

#facebook-login p {
	font-size: 16px;
	color: #000000;
	margin-top: 10px;
}

#facebook-login {
    margin-top: 30px;
}


#privacidad {
    color: #777;
    font-size: 10px;
    font-size: 1rem;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

#privacidad p{
    margin: 0 10px 2px 0;     
}

#cerrar-cupon {
    display: inline; 
    float: right; 
    margin-right: 10px;
}

#cerrar-cupon:hover {
    cursor: pointer;
}


/* *************************************
* *************** Footer ***************
* ************************************ */
footer{
  margin-top: 15px;  
}

.direccion {
  overflow: hidden;
  margin-top: -90px;
}

.direccion p {
  margin-bottom: 5px;
  font-size: 11px;
  font-size: 1.1rem;
  text-align: center;
  color: #ffffff;
}

.direccion .copyright {
  margin-top: 10px;
  color: #777;
  font-size: 9px;
  font-size: 0.9rem;  
}

    #menu-categorias{
      color: #ffffff;
    }
    
    #menu-categorias > li{
      background-image: url('../app_images/menu_items_xs.jpg'); 
      height: 40px; 
      padding-top: 10px; 
      padding-left: 60px;
    }
    
    #menu-categorias a{
      color: #FFFFFF; 
      width: 700px;
    }
/* *************************************
* *********** Media queries ************
* ************************************ */

/* Small devices (tablets, 768px and up) */

@media (min-width: 768px) { 
    body {
      background-image: url("../app_images/background.jpg");
      background-repeat: no-repeat;
    }

    .menu {

    }
    #div-header {
      margin-bottom: 0px;
      height: 140px
    }

    .div-menu {
      background-image: url(../app_images/menu.jpg);
      background-repeat: repeat-x;
      padding-top: 1px;
      color: #999999;
    }

    .div-menu a{
      //  color:  #ffffff;
    }

    .div-menu li{
      display: inline;
      float: right;
      padding-right: 20px;
      padding-top: 10px;
      font-size: 13px;
    }
    .div-menu ul{
      padding-bottom: 15px;
    }
    .div-menu li:hover{
      cursor: pointer;
      color: #ffffff;
    }
    .active{
      color: red;
    }
    


    .main-logo {
      width: 100%;
      margin: 0;
      font-family: Neuropol X Rg; 
      text-align: left;
      color: #fff;       
      padding-left: 60px;
      padding-top: 25px;
      text-align: left;
      letter-spacing: 20px;
      font-size: 60px;
      font-size: 6rem;
      font-weight: 200;   
    }

    .main-logo > span {
      font-size: 17px;
      font-size: 1.7rem;
    }

    #div-contenido{
        margin-top: 0px;
    }    
    
    #main-picture img {    
      padding: 5px;
    }  
    footer{
      background-image: url("../app_images/footer.jpg");  
    }
    .direccion {
      margin-top: 20px;
    }  
    .direccion p {
      margin-bottom: 5px;
      font-size: 12px;
      font-size: 1.2rem;
    }  
}