<style type="text/css">
.left-column-1 {width: 70px; float: left; margin-left: 10px; margin-top: 10px; overflow: hidden;}
.left-column-5 {width: 390px; float: left; margin-left: 10px; margin-top: 10px; overflow: hidden;}
ul{
    list-style: none;
}
</style>
<div class="clear"> </div>
<div class="left-column-2 columnas">
    <ul>  
        <li><img src="images/1103008_xsmall.jpg" /></li>  
        <li><img src="images/1103035_xsmall.jpg" /></li>  
    </ul>     
</div>
<div class="left-column-6 columnas">
    <?php
        echo "<src='images/".$_SESSION['id_articulo']."_large.jpg'>";
     ?>
</div>
<div class="clear"> </div>
